
  ion-list {
    margin-top: 20px;
  }
  
  ion-item {
    --inner-padding-start: 10px;
    --inner-padding-end: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
  }
  
  ion-input:focus {
    border-color: #007bff; /* Color de borde cuando está enfocado */
  }
  
  .foto-preview {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  /* Estilo para modal */
  ion-modal ion-content {
    padding: 20px;
  }
  